    <tr>
      <td class="pnpC-timekey"><%= od.timekey %></td>
      <td><%= link_to od.str_o_enabled, ods_toggle_o_path(od.id), :method => :put, :remote => true, :class=>"pnpC-btn-o-toggle btn btn-small " + od.str_o_TwbsBtnStyleClass %></td>
      <td><%= link_to od.str_d_enabled, ods_toggle_d_path(od.id), :method => :put, :remote => true, :class=>"pnpC-btn-d-toggle btn btn-small " + od.str_o_TwbsBtnStyleClass %></td>
    </tr>